Repository copier-org/copier: changes, and which pre-commit hooks are due for each by the changed paths.
All: editorconfig-checker, prettier, taplo

editorconfig-checker:
  name: editorconfig-checker
  entry: editorconfig-checker
  language: system

prettier:
  name: prettier
  entry: prettier --write --list-different --ignore-unknown
  language: system

taplo:
  name: taplo
  entry: uv run taplo format
  language: system
  require_serial: true

test(conftest.py): change `spawn_timeout` fixture scope
  tests/conftest.py
Due: editorconfig-checker, prettier

test: replace `None` by `0` for `--spawn-timeout` pytest arg & `spawn_timeout` fixture
  tests/conftest.py
  tests/test_prompt.py
Due: editorconfig-checker, prettier

docs(CONTRIBUTING.md): replace `None` by `0` for `--spawn-timeout` pytest arg in the dedicated note
  CONTRIBUTING.md
Due: prettier

describe Via `_tasks` and `_migrations` solution
  docs/inheritance_and_composition.md
Due: prettier

Update docs/inheritance_and_composition.md
  docs/inheritance_and_composition.md
Due: prettier

style(test_prompt.py): replace ternary conditional by `or`
  tests/test_prompt.py
Due: editorconfig-checker, prettier

test(conftest.py): add validation that `--spawn-timeout` is an int `>=0`
  tests/conftest.py
Due: editorconfig-checker, prettier

test(test_config.py): add nested transclusion test for populated transcluded files
  tests/demo_nested_transcludes/copier_files/include_me.yml
  tests/demo_nested_transcludes/copier_files/nested/include_me_also.yml
  tests/demo_nested_transcludes/demo/copier.yml
  tests/test_config.py
Due: editorconfig-checker, prettier

test(test_config.py): change demo directory name for consistency
  tests/demo_transclude_nested/copier_files/include_me.yml
  tests/demo_transclude_nested/copier_files/nested/include_me_also.yml
  tests/demo_transclude_nested/demo/copier.yml
  tests/test_config.py
Due: editorconfig-checker, prettier

test: limit the test to cover nested includes where all files are in the same directory
  tests/demo_transclude_nested_include/demo/copier.yml
  tests/demo_transclude_nested_include/demo/include_me.yml
  tests/demo_transclude_nested_include/demo/include_me_also.yml
  tests/test_config.py
Due: editorconfig-checker, prettier

test: limit the test to 'paths are relative to `copier.yml`'
  tests/demo_transclude_nested/copier_files/include_me.yml
  tests/demo_transclude_nested/demo/copier.yml
  tests/demo_transclude_nested_path/copier_files/include_me.yml
  tests/demo_transclude_nested_path/copier_files/nested/include_me_also.yml
  tests/demo_transclude_nested_path/demo/copier.yml
  tests/demo_transclude_nested_path_invalid/copier_files/include_me.yml
  tests/demo_transclude_nested_path_invalid/copier_files/nested/include_me_also.yml
  tests/demo_transclude_nested_path_invalid/demo/copier.yml
  tests/test_config.py
Due: editorconfig-checker, prettier

build(deps): update dependency devbox to v0.15.1
  .devcontainer/Dockerfile
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  devbox.json
  devtasks.py
Due: editorconfig-checker, prettier

build(deps): update actions/download-artifact action to v5
  .github/workflows/release.yml
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.12.8
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency git to v2.50.1
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency types-pygments to v2.19.0.20250809
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency types-pyyaml to v6.0.12.20250809
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency pre-commit to v4.3.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): lock file maintenance
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update actions/checkout action to v5
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: editorconfig-checker, prettier

build(deps): update dependency poethepoet to v0.37.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

test(conftest.py): fix type validator for `--spawn-timeout`
  tests/conftest.py
Due: editorconfig-checker, prettier

fix: cast Jinja context path variables to `pathlib.PurePath`
  copier/_main.py
  docs/creating.md
  tests/test_context.py
Due: editorconfig-checker, prettier

docs(CONTRIBUTING.md): apply Prettier markdown formatting
  CONTRIBUTING.md
Due: prettier

test: add pytest argument `--spawn-timeout` (#2250)
  CONTRIBUTING.md
  tests/conftest.py
  tests/helpers.py
  tests/test_complex_questions.py
  tests/test_conditional_file_name.py
  tests/test_output.py
  tests/test_prompt.py
  tests/test_templated_prompt.py
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

build(deps): update dependency editorconfig-checker to v3.4.0
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

fix: disallow render paths outside destination directory
  copier/_main.py
  copier/errors.py
  tests/test_copy.py
Due: editorconfig-checker, prettier

fix: validate default answer only after user input
  copier/_main.py
  copier/_user_data.py
  tests/test_prompt.py
Due: editorconfig-checker, prettier

Path conditions:
  editorconfig-checker: any file but: \.md$|\.noeof\.|\.bundle$
  prettier: any file but: (?x)(
  # Some API reference identifiers are dotted paths involving
  # internal modules prefixed with `_` which are converted by
  # Prettier to `\_`, making them invalid.
  ^docs/reference/.+\.md$|
  # Those files have wrong syntax and would fail
  ^tests/demo_invalid/copier\.yml$|
  ^tests/demo_transclude_invalid(_multi)?/demo/copier\.yml$|
  # HACK https://github.com/prettier/prettier/issues/9430
  ^tests/demo
)

  taplo: any of: \.toml$
