Repository copier-org/copier: changes, and which pre-commit hooks are due for each by the changed paths.
All: editorconfig-checker, prettier, taplo

editorconfig-checker:
  name: editorconfig-checker
  entry: editorconfig-checker
  language: system

prettier:
  name: prettier
  entry: prettier --write --list-different --ignore-unknown
  language: system

taplo:
  name: taplo
  entry: uv run taplo format
  language: system
  require_serial: true

refactor: remove redundant cache-dir comment
  copier/_vcs.py
Due: editorconfig-checker, prettier

build(deps): update dependency rumdl to v0.2.21
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

feat: cache remote git templates as local mirrors with worktrees (#2720)
  copier/_vcs.py
  tests/conftest.py
  tests/test_vcs.py
Due: editorconfig-checker, prettier

build(deps): update dependency inline-snapshot to v0.34.2
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency commitizen to v4.16.4
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency devbox to v0.17.4
  .devcontainer/Dockerfile
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  devbox.json
  devtasks.py
Due: editorconfig-checker, prettier

bump: version 9.15.2 → 9.16.0
  CHANGELOG.md
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency devbox to v0.17.5
  .devcontainer/Dockerfile
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  devbox.json
  devtasks.py
Due: editorconfig-checker, prettier

refactor: address review feedback
  copier/_ask_pattern.py
  copier/_cli.py
  copier/_main.py
  docs/configuring.md
  tests/test_cli.py
  tests/test_prompt.py
Due: editorconfig-checker, prettier

build(deps): update jetpackio/devbox docker tag to v0.17.5
  .devcontainer/Dockerfile
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.15.20
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

refactor: --ask now has precedance over --data
  copier/_cli.py
  copier/_main.py
  docs/configuring.md
  tests/test_cli.py
  tests/test_prompt.py
Due: editorconfig-checker, prettier

chore(config): migrate pytest configuration to `[tool.pytest]` section in `pyproject.toml`
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

fix: resolve local template paths relative to project root with fallback
  copier/_main.py
  copier/_subproject.py
  tests/test_answersfile.py
Due: editorconfig-checker, prettier

style: improve style
  copier/_cli.py
  copier/_main.py
  tests/test_cli.py
  tests/test_prompt.py
Due: editorconfig-checker, prettier

style: split string
  copier/_cli.py
Due: editorconfig-checker, prettier

feat: add `--ask` flag to force prompting of selected questions (#2705)
  copier/_cli.py
  copier/_main.py
  docs/configuring.md
  tests/test_cli.py
  tests/test_prompt.py
Due: editorconfig-checker, prettier

feat: add run_preview command with hot-reloading support
  copier/_main.py
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

feat: add run_preview command with hot-reloading support and tests
  copier/_main.py
  tests/test_copy.py
Due: editorconfig-checker, prettier

docs: update Phase III Week 1 progress in contribution README
  CONTRIBUTION.md
Due: prettier

Add Phase II contribution README
  CONTRIBUTION.md
Due: prettier

feat: add copier preview CLI subcommand
  copier/_cli.py
Due: editorconfig-checker, prettier

docs: update Phase IV completion in contribution README
  CONTRIBUTION.md
Due: prettier

build(deps): update dependency uv to v0.11.25
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency editorconfig-checker to v3.8.0
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency rumdl to v0.2.27
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency poethepoet to v0.47.1
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency typing-extensions to v4.16.0
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update dependency typing-extensions to v4.16.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

fix: use destination path as working directory while rendering
  copier/_main.py
  docs/configuring.md
  tests/test_answersfile.py
  tests/test_copy.py
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

build(deps): update dependency poethepoet to v0.48.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency rumdl to v0.2.28
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

Path conditions:
  editorconfig-checker: any file but: \.md$|\.noeof\.|\.bundle$
  prettier: any file but: (?x)(
  # Some API reference identifiers are dotted paths involving
  # internal modules prefixed with `_` which are converted by
  # Prettier to `\_`, making them invalid.
  ^docs/reference/.+\.md$|
  # Those files have wrong syntax and would fail
  ^tests/demo_invalid/copier\.yml$|
  ^tests/demo_transclude_invalid(_multi)?/demo/copier\.yml$|
  # HACK https://github.com/prettier/prettier/issues/9430
  ^tests/demo
)

  taplo: any of: \.toml$
