Repository copier-org/copier: changes, and which pre-commit hooks are due for each by the changed paths.
All: editorconfig-checker, prettier, taplo

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: codespell
        name: codespell
        entry: uv run codespell
        language: system
        types: [text]

      - id: commitizen
        name: commitizen check
        entry: uv run cz check
        args: [--allow-abort, --commit-msg-file]
        stages: [commit-msg]
        language: system

      - id: editorconfig-checker
        name: editorconfig-checker
        entry: editorconfig-checker
        language: system
        types: [text]
        exclude: \.md$|\.noeof\.|\.bundle$

      - id: prettier
        name: prettier
        entry: prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        exclude: |
          (?x)(
            # Some API reference identifiers are dotted paths involving
            # internal modules prefixed with `_` which are converted by
            # Prettier to `\_`, making them invalid.
            ^docs/reference/.+\.md$|
            # Those files have wrong syntax and would fail
            ^tests/demo_invalid/copier\.yml$|
            ^tests/demo_transclude_invalid(_multi)?/demo/copier\.yml$|
            # HACK https://github.com/prettier/prettier/issues/9430
            ^tests/demo
          )

      - id: ruff-check
        name: ruff-check
        entry: uv run ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: taplo
        name: taplo
        entry: uv run taplo format
        language: system
        types: [toml]
        require_serial: true

build(deps): update dependency mkdocstrings to v0.30.1
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

Include Homebrew installation instructions in README
  README.md
Due: prettier

test(demo_transclude_conditional): add more elements to test to the demo
  tests/demo_transclude_conditional/demo/copier.yml
  tests/demo_transclude_conditional/demo/include_me.yml
  tests/demo_transclude_conditional/demo/{% if test_json %}test_json.py{% endif %}
  tests/demo_transclude_conditional/demo/{% if test_path %}test_path.py{% endif %}
  tests/demo_transclude_conditional/demo/{% if test_yaml %}test_yaml.py{% endif %}
  tests/demo_transclude_conditional/demo/{% if var %}var.py{% endif %}
  tests/demo_transclude_conditional/desc.md
Due: editorconfig-checker

fix(_template): fix conditional transclusion
  copier/_template.py
Due: editorconfig-checker, prettier

test(test_config.py): add or fix tests for conditional transclusion functions
  tests/test_config.py
Due: editorconfig-checker, prettier

test(test_config.py): fix test output to match added vars in demo
  tests/test_config.py
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.13.1
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency mypy to v1.18.2
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

docs: add Homebrew installation instructions in README (#2328)
  README.md
Due: prettier

build(deps): update dependency git to v2.51.0
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update jetify-com/devbox-install-action action to v0.14.0
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
Due: editorconfig-checker, prettier

test(test_config.py): add use case from issue
  tests/demo_transclude_conditional/demo/copier.yml
  tests/demo_transclude_conditional/demo/env/dev.yml
  tests/test_config.py
Due: editorconfig-checker, prettier

test(pyproject.toml): add marker for `conditional_transclusion` tests [to be removed in prod]
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

test(test_config.py): add test for error case
  tests/test_config.py
Due: editorconfig-checker, prettier

build(deps): update dependency uv to v0.8.14
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

fix: handle existing symlinks in ForbiddenPathError check
  copier/_main.py
  tests/test_copy.py
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.13.2
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency pyyaml to v6.0.3
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.13.3
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency mkdocs-material to v9.6.21
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency pydantic to v2.11.10
  uv.lock
Due: editorconfig-checker, prettier

Fix grammatical error in faq.md
  docs/faq.md
Due: prettier

docs: fix grammatical error in FAQ (#2344)
  docs/faq.md
Due: prettier

build(deps): update dependency ruff to v0.14.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update astral-sh/setup-uv action to v7
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: editorconfig-checker, prettier

build(deps): update dependency pydantic to v2.12.0
  uv.lock
Due: editorconfig-checker, prettier

fix(updating): ignore paths added to the `_exclude` list in new template version when updating
  copier/_main.py
  tests/test_context.py
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

build(deps): update dependency pytest-gitconfig to v0.8.0
  pyproject.toml
Due: editorconfig-checker, prettier, taplo
