Repository copier-org/copier: changes, and which pre-commit hooks are due for each by the changed paths.
All: editorconfig-checker, prettier, taplo

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: codespell
        name: codespell
        entry: uv run codespell
        language: system
        types: [text]

      - id: commitizen
        name: commitizen check
        entry: uv run cz check
        args: [--allow-abort, --commit-msg-file]
        stages: [commit-msg]
        language: system

      - id: editorconfig-checker
        name: editorconfig-checker
        entry: editorconfig-checker
        language: system
        types: [text]
        exclude: \.md$|\.noeof\.|\.bundle$

      - id: prettier
        name: prettier
        entry: prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        exclude: |
          (?x)(
            # Some API reference identifiers are dotted paths involving
            # internal modules prefixed with `_` which are converted by
            # Prettier to `\_`, making them invalid.
            ^docs/reference/.+\.md$|
            # Those files have wrong syntax and would fail
            ^tests/demo_invalid/copier\.yml$|
            ^tests/demo_transclude_invalid(_multi)?/demo/copier\.yml$|
            # HACK https://github.com/prettier/prettier/issues/9430
            ^tests/demo
          )

      - id: ruff-check
        name: ruff-check
        entry: uv run ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: taplo
        name: taplo
        entry: uv run taplo format
        language: system
        types: [toml]
        require_serial: true

build(deps): update dependency typing-extensions to v4.16.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

test: assert only template-rendered files are visible to fileglob during update
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

build(deps): update dependency markdown-exec to v1.12.3
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update astral-sh/setup-uv action to v8.3.1
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: editorconfig-checker, prettier

build(deps): update dependency mypy to v2.2.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

Change contribution status to 'Phase IV Pending'
  CONTRIBUTION.md
Due: prettier

feat(cli): add `copier schema` command to generate JSON Schema for copier.yml
  README.md
  copier/_cli.py
  copier/_schema.py
  copier/_template.py
  docs/configuring.md
  tests/test_cli.py
Due: editorconfig-checker, prettier

test: expect update test failure with Git v2.55.0+
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

build(deps): update dependency rumdl to v0.2.28
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency poethepoet to v0.48.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

fix: prevent trust bypass via encoded URL traversal
  copier/_settings.py
  tests/test_settings.py
Due: editorconfig-checker, prettier

bump: version 9.16.0 → 9.17.0
  CHANGELOG.md
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

feat(update): preserve developer-owned regions across updates (#2184)
  copier/_main.py
  copier/_preserve.py
  docs/updating.md
  tests/test_preserve.py
Due: editorconfig-checker, prettier

test: fix mypy type errors in preserve tests
  tests/test_preserve.py
Due: editorconfig-checker, prettier

feat(updating)!: introduce new update algorithm based on `git merge`
  copier/_cli.py
  copier/_main.py
  copier/_tools.py
  docs/configuring.md
  docs/creating.md
  docs/updating.md
  tests/helpers.py
  tests/test_cli.py
  tests/test_dirty_local.py
  tests/test_subdirectory.py
  tests/test_tools.py
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

fix(updating)!: do not run tasks after project update
  copier/_main.py
  docs/updating.md
  tests/test_legacy_migration.py
Due: editorconfig-checker, prettier

feat(updating)!: apply pre-update migrations on fresh project from current template version
  copier/_main.py
  docs/updating.md
  tests/test_migrations.py
Due: editorconfig-checker, prettier

feat(update): keep developer-owned regions with `{% ignore %}` tag (#2184)
  copier/_jinja_ext.py
  copier/_main.py
  copier/_preserve.py
  docs/updating.md
  tests/test_ignore.py
  tests/test_preserve.py
Due: editorconfig-checker, prettier

fix(render): only expose `_copier_operation` within an active operation
  copier/_main.py
Due: editorconfig-checker, prettier

refactor: extract REMOTE_URL_PREFIXES and is_remote_url() to _vcs.py
  copier/_main.py
  copier/_subproject.py
  copier/_vcs.py
Due: editorconfig-checker, prettier

fix: resolve submodules from the current checkout's .gitmodules
  copier/_vcs.py
  tests/test_vcs.py
Due: editorconfig-checker, prettier

fix(tests): scope submodule fixture to module, restore env after tests
  tests/test_vcs.py
Due: editorconfig-checker, prettier

fix: prevent code execution via Jinja sandbox escape through path and settings objects
  copier/_jinja_ext.py
  copier/_main.py
  copier/_user_data.py
  pyproject.toml
  tests/test_jinja2_env.py
  uv.lock
Due: editorconfig-checker, prettier, taplo

fix: prevent code execution via Jinja finalizer by disallowing YAML tags
  copier/_template.py
  tests/test_config.py
Due: editorconfig-checker, prettier

bump: version 9.17.0 → 9.17.1
  CHANGELOG.md
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

build(deps): update astral-sh/setup-uv action to v8.3.2
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: editorconfig-checker, prettier

build(deps): update dependency codespell to v2.4.3
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency dunamai to v1.26.2
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update dependency mkdocs-material to v9.7.7
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency mkdocstrings to v1.0.6
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency plumbum to v2.0.2
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update dependency pre-commit to v4.6.1
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency types-pyyaml to v6.0.12.20260724
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo
