Repository copier-org/copier: changes, and which pre-commit hooks are due for each by the changed paths.
All: editorconfig-checker, prettier, taplo

editorconfig-checker:
  name: editorconfig-checker
  entry: editorconfig-checker
  language: system

prettier:
  name: prettier
  entry: prettier --write --list-different --ignore-unknown
  language: system

taplo:
  name: taplo
  entry: uv run taplo format
  language: system
  require_serial: true

build(deps): update dependency poethepoet to v0.39.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency pytest-gitconfig to v0.9.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency commitizen to v4.11.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency mypy to v1.19.1
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): lock file maintenance
  devbox.lock
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update dependency poethepoet to v0.40.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency uv to v0.9.21
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency git to v2.52.0
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

feat(copier/_user_data.py): add `questionary` `use_shorcuts` & `use_filter_search` to `Question` class for selection with number shortcuts or filter
  copier/_user_data.py
Due: editorconfig-checker, prettier

docs(copier/_user_data.py): complement `Question` docstring to doc `use_shortcuts` & `use_filter_search`
  copier/_user_data.py
Due: editorconfig-checker, prettier

test(copier/_user_data.py): add tests for `Question` `use_shortcuts` & `use_filter_search`
  tests/test_shortcut.py
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.14.11
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency pathspec to v1
  uv.lock
Due: editorconfig-checker, prettier

fix(updating): avoid circular reference when rendering JSON-serialized `_copier_conf` variable
  copier/_main.py
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

bump: version 9.11.0 → 9.11.1
  CHANGELOG.md
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

fix: Re-enable updating of symlinks to outside subproject
  copier/_main.py
  tests/test_symlinks.py
Due: editorconfig-checker, prettier

test(tests/): rename `test_shortcut.py` to `test_choices.py`
  tests/test_choices.py
Due: editorconfig-checker, prettier

docs(pyproject.toml): add rule `W505` (doc-line-too-long) & corresponding `tool.ruff.lint.pycodestyle.max-doc-length` with default value 72 as per PEP8 recommendation
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

fix(copier/_user_data.py): fix attribute name of `Question` from `use_filter_search` to `use_search_filter`
  copier/_user_data.py
  tests/test_choices.py
Due: editorconfig-checker, prettier

docs(Question): line-wrap the docstring to max length 88 for consistency
  copier/_user_data.py
Due: editorconfig-checker, prettier

test(tests/test_choices.py): remove useless elements
  tests/test_choices.py
Due: editorconfig-checker, prettier

test(tests/test_choices.py): curate the test template
  tests/test_choices.py
Due: editorconfig-checker, prettier

docs(docs/configuring.md): add docs for `use_shortcuts` & `use_search_filter`
  docs/configuring.md
Due: prettier

build(deps): update dependency commitizen to v4.11.2
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

test(tests/test_choices.py): split tests between `use_shortcuts` & `use_searcg_filter`
  tests/test_choices.py
Due: editorconfig-checker, prettier

chore: Add test for updating symlinks
  tests/test_symlinks.py
Due: editorconfig-checker, prettier

test(tests/test_choices): fix type hints for compliance with `test_types`
  tests/test_choices.py
Due: editorconfig-checker, prettier

Path conditions:
  editorconfig-checker: any file but: \.md$|\.noeof\.|\.bundle$
  prettier: any file but: (?x)(
  # Some API reference identifiers are dotted paths involving
  # internal modules prefixed with `_` which are converted by
  # Prettier to `\_`, making them invalid.
  ^docs/reference/.+\.md$|
  # Those files have wrong syntax and would fail
  ^tests/demo_invalid/copier\.yml$|
  ^tests/demo_transclude_invalid(_multi)?/demo/copier\.yml$|
  # HACK https://github.com/prettier/prettier/issues/9430
  ^tests/demo
)

  taplo: any of: \.toml$
