Repository copier-org/copier: changes, and which pre-commit hooks are due for each by the changed paths.
All: editorconfig-checker, prettier, taplo

editorconfig-checker:
  name: editorconfig-checker
  entry: editorconfig-checker
  language: system

prettier:
  name: prettier
  entry: prettier --write --list-different --ignore-unknown
  language: system

taplo:
  name: taplo
  entry: uv run taplo format
  language: system
  require_serial: true

build(deps): update dependency types-pygments to v2.20.0.20260508
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency inline-snapshot to v0.33.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

bump: version 9.15.0 → 9.15.1
  CHANGELOG.md
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

fix(update): don't skip gitignored .rej files for inline-conflict resolution
  copier/_main.py
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.15.13
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency commitizen to v4.16.2
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency rumdl to v0.1.93
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency poethepoet to v0.46.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency uv to v0.11.14
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): lock file maintenance
  devbox.lock
  uv.lock
Due: editorconfig-checker, prettier

fix: treat blank boolean strings as false
  copier/_tools.py
  tests/test_tasks.py
  tests/test_tools.py
Due: editorconfig-checker, prettier

build(deps): update dependency types-pygments to v2.20.0.20260518
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency types-pyyaml to v6.0.12.20260518
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

fix(updating): don't skip gitignored `.rej` files when converting to inline conflict markers (#2668)
  copier/_main.py
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

fix: treat blank boolean strings as false (#2675)
  copier/_tools.py
  tests/test_tasks.py
  tests/test_tools.py
Due: editorconfig-checker, prettier

fix(update): render new exclude patterns with new answers
  copier/_main.py
  tests/test_context.py
Due: editorconfig-checker, prettier

fix(copy): preserve answers file subdirectories
  copier/_main.py
  tests/test_answersfile.py
Due: editorconfig-checker, prettier

fix: fix answers file override/setting to use full path and not only filename
  copier/_main.py
  tests/test_answersfile.py
Due: editorconfig-checker, prettier

refactor: deprecate locating `{{ _copier_conf.answers_file }}.jinja` file in non-root directory
  copier/_deprecation.py
  copier/_main.py
  tests/test_answersfile.py
  tests/test_cli.py
Due: editorconfig-checker, prettier

fix(update): preserve executable bit for new files
  copier/_main.py
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

build(deps): update dependency prettier to v3.8.3
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

docs: warn against moving template tags
  docs/generating.md
Due: prettier

fix(copy): honor configured skip_tasks in unsafe check
  copier/_main.py
  tests/test_unsafe.py
Due: editorconfig-checker, prettier

fix(copy): report template path for Jinja errors
  copier/_main.py
  tests/test_copy.py
  tests/test_dynamic_file_structures.py
Due: editorconfig-checker, prettier

fix: report template path for Jinja errors in path segments (#2686)
  copier/_main.py
  tests/test_copy.py
  tests/test_dynamic_file_structures.py
Due: editorconfig-checker, prettier

Path conditions:
  editorconfig-checker: any file but: \.md$|\.noeof\.|\.bundle$
  prettier: any file but: (?x)(
  # Some API reference identifiers are dotted paths involving
  # internal modules prefixed with `_` which are converted by
  # Prettier to `\_`, making them invalid.
  ^docs/reference/.+\.md$|
  # Those files have wrong syntax and would fail
  ^tests/demo_invalid/copier\.yml$|
  ^tests/demo_transclude_invalid(_multi)?/demo/copier\.yml$|
  # HACK https://github.com/prettier/prettier/issues/9430
  ^tests/demo
)

  taplo: any of: \.toml$
