Repository copier-org/copier: changes, and which pre-commit hooks are due for each by the changed paths.
All: editorconfig-checker, prettier, taplo

editorconfig-checker:
  name: editorconfig-checker
  entry: editorconfig-checker
  language: system

prettier:
  name: prettier
  entry: prettier --write --list-different --ignore-unknown
  language: system

taplo:
  name: taplo
  entry: uv run taplo format
  language: system
  require_serial: true

build(deps): update dependency commitizen to v4.13.7
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

docs(api): Update API docs and cross-references
  CONTRIBUTING.md
  copier/__init__.py
  copier/_cli.py
  copier/_main.py
  copier/_user_data.py
  copier/errors.py
  copier/settings.py
  docs/configuring.md
  docs/faq.md
  docs/generating.md
  docs/reference/api.md
  docs/reference/cli.md
  docs/reference/errors.md
  docs/reference/jinja_ext.md
  docs/reference/main.md
  docs/reference/settings.md
  docs/reference/subproject.md
  docs/reference/template.md
  docs/reference/tools.md
  docs/reference/types.md
  docs/reference/user_data.md
  docs/reference/vcs.md
  mkdocs.yml
Due: editorconfig-checker, prettier

build(deps): update dependency mkdocstrings to v1.0.3
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency uv to v0.9.30
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency poethepoet to v0.41.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency ruff to v0.15.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

Apply suggestions from code review
  copier/__init__.py
  docs/reference/api.md
Due: editorconfig-checker, prettier

fixup! docs(api): Update API docs and cross-references
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

fixup! docs(api): Update API docs and cross-references
  copier/types.py
Due: editorconfig-checker, prettier

refactor: replace `**kwargs` with explicit parameters in `run_{copy,recopy,update}` functions
  copier/_main.py
Due: editorconfig-checker, prettier

refactor(typing): use builtin types in public API signatures
  copier/_main.py
Due: editorconfig-checker, prettier

docs(api): update API docs and cross-references (#2495)
  CONTRIBUTING.md
  copier/__init__.py
  copier/_cli.py
  copier/_main.py
  copier/_user_data.py
  copier/errors.py
  copier/settings.py
  copier/types.py
  docs/configuring.md
  docs/faq.md
  docs/generating.md
  docs/reference/api.md
  docs/reference/cli.md
  docs/reference/errors.md
  docs/reference/jinja_ext.md
  docs/reference/main.md
  docs/reference/settings.md
  docs/reference/subproject.md
  docs/reference/template.md
  docs/reference/tools.md
  docs/reference/types.md
  docs/reference/user_data.md
  docs/reference/vcs.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): lock file maintenance
  devbox.lock
  uv.lock
Due: editorconfig-checker, prettier

fix: fix answers file override/setting to use full path and not only filename
  copier/_main.py
  tests/test_answersfile.py
Due: editorconfig-checker, prettier

refactor: deprecate locating `{{ _copier_conf.answers_file }}.jinja` file in non-root directory
  copier/_deprecation.py
  copier/_main.py
  tests/test_answersfile.py
  tests/test_cli.py
Due: editorconfig-checker, prettier

fix(updating): normalize user-deleted paths before skip-if-exists pattern matching during updates
  copier/_main.py
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

refactor: deprecate `VcsRef` import from `copier` root module
  copier/__init__.py
Due: editorconfig-checker, prettier

build(deps): update dependency platformdirs to v4.6.0
  uv.lock
Due: editorconfig-checker, prettier

fix(updating): anchor removed file paths to project root in update algorithm
  copier/_main.py
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.15.1
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency platformdirs to v4.7.0
  uv.lock
Due: editorconfig-checker, prettier

fix(updating): apply skip-if-exists patterns as gitignore-style at subproject root in update algorithm
  copier/_main.py
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

build(deps): update dependency platformdirs to v4.9.1
  uv.lock
Due: editorconfig-checker, prettier

feat: refactor check_update_output_as_json to output_format
  copier/_cli.py
  copier/_main.py
  tests/test_check_update.py
Due: editorconfig-checker, prettier

style: reformat update_availble
  copier/_main.py
Due: editorconfig-checker, prettier

style: reformat SubprojectOutdatedError
  copier/_main.py
Due: editorconfig-checker, prettier

test: restructure test_check_update
  tests/test_check_update.py
Due: editorconfig-checker, prettier

test: add tests for prerelease updates
  tests/test_check_update.py
Due: editorconfig-checker, prettier

docs: document check-update
  docs/updating.md
Due: prettier

refactor: change check-update exit code from 5 to 1 when update is detected
  copier/_cli.py
  docs/updating.md
  tests/test_check_update.py
Due: editorconfig-checker, prettier

Path conditions:
  editorconfig-checker: any file but: \.md$|\.noeof\.|\.bundle$
  prettier: any file but: (?x)(
  # Some API reference identifiers are dotted paths involving
  # internal modules prefixed with `_` which are converted by
  # Prettier to `\_`, making them invalid.
  ^docs/reference/.+\.md$|
  # Those files have wrong syntax and would fail
  ^tests/demo_invalid/copier\.yml$|
  ^tests/demo_transclude_invalid(_multi)?/demo/copier\.yml$|
  # HACK https://github.com/prettier/prettier/issues/9430
  ^tests/demo
)

  taplo: any of: \.toml$
