Repository copier-org/copier: changes, and which pre-commit hooks are due for each by the changed paths.
All: editorconfig-checker, prettier, taplo

editorconfig-checker:
  name: editorconfig-checker
  entry: editorconfig-checker
  language: system

prettier:
  name: prettier
  entry: prettier --write --list-different --ignore-unknown
  language: system

taplo:
  name: taplo
  entry: uv run taplo format
  language: system
  require_serial: true

fix(vcs): fix Git tag lookup for template SSH URLs without `ssh://` scheme
  copier/_vcs.py
Due: editorconfig-checker, prettier

bump: version 9.14.2 → 9.14.3
  CHANGELOG.md
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency ruff to v0.15.10
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency rumdl to v0.1.69
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency poethepoet to v0.44.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency types-pygments to v2.20.0.20260408
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency uv to v0.11.3
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency inline-snapshot to v0.32.6
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency mypy to v1.20.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

fix: propagate executable-bit changes on `copier update`
  copier/_main.py
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

build(deps): update dependency commitizen to v4.13.10
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency mypy to v1.20.1
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency rumdl to v0.1.71
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

fix: propagate executable-bit changes on `copier update`
  copier/_main.py
  copier/_template.py
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

build(deps): update dependency uv to v0.11.6
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency packaging to v26.1
  uv.lock
Due: editorconfig-checker, prettier

Fix linting errors
  copier/_cli.py
  copier/_main.py
  copier/_subproject.py
  copier/_template.py
  copier/_vcs.py
Due: editorconfig-checker, prettier

Update the cli tests to succeed with the addition of the new cli argument
  tests/test_cli.py
Due: editorconfig-checker, prettier

build(deps): update dependency mkdocstrings to v1.0.4
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

Extend test_select_latest_version_tag to also test the version_subscription flag
  tests/test_vcs.py
Due: editorconfig-checker, prettier

build(deps): update astral-sh/setup-uv action to v8
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.15.11
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency pydantic to v2.13.2
  uv.lock
Due: editorconfig-checker, prettier

build(deps): replace astral-sh/setup-uv action with astral-sh/setup-uv v8
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: editorconfig-checker, prettier

build(deps): update dependency rumdl to v0.1.75
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

test: add test for additional Jinja2 extensions error
  tests/test_jinja2_extensions.py
Due: editorconfig-checker, prettier

add missing import
  tests/test_jinja2_extensions.py
Due: editorconfig-checker, prettier

Address feedback
  copier/_main.py
  tests/test_jinja2_extensions.py
  tests/test_jinja2_undefined.py
Due: editorconfig-checker, prettier

update docs
  docs/configuring.md
Due: prettier

build(deps): update dependency rumdl to v0.1.77
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

Apply suggestions from code review
  tests/test_jinja2_undefined.py
Due: editorconfig-checker, prettier

test functions on one line
  tests/test_jinja2_undefined.py
Due: editorconfig-checker, prettier

feat: add support for enabling `StrictUndefined` in Jinja environment (#2587)
  copier/_main.py
  docs/configuring.md
  tests/test_jinja2_undefined.py
Due: editorconfig-checker, prettier

Path conditions:
  editorconfig-checker: any file but: \.md$|\.noeof\.|\.bundle$
  prettier: any file but: (?x)(
  # Some API reference identifiers are dotted paths involving
  # internal modules prefixed with `_` which are converted by
  # Prettier to `\_`, making them invalid.
  ^docs/reference/.+\.md$|
  # Those files have wrong syntax and would fail
  ^tests/demo_invalid/copier\.yml$|
  ^tests/demo_transclude_invalid(_multi)?/demo/copier\.yml$|
  # HACK https://github.com/prettier/prettier/issues/9430
  ^tests/demo
)

  taplo: any of: \.toml$
