Repository copier-org/copier: changes, and which pre-commit hooks are due for each by the changed paths.
All: editorconfig-checker, prettier, taplo

editorconfig-checker:
  name: editorconfig-checker
  entry: editorconfig-checker
  language: system

prettier:
  name: prettier
  entry: prettier --write --list-different --ignore-unknown
  language: system

taplo:
  name: taplo
  entry: uv run taplo format
  language: system
  require_serial: true

build(deps): update dependency ruff to v0.12.9
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency mkdocs-material to v9.6.17
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency editorconfig-checker to v3.4.0
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

fix: cast Jinja context path variables to `pathlib.PurePath`
  copier/_main.py
  docs/creating.md
  tests/test_context.py
Due: editorconfig-checker, prettier

fix: disallow render paths outside destination directory
  copier/_main.py
  copier/errors.py
  tests/test_copy.py
Due: editorconfig-checker, prettier

bump: version 9.9.0 → 9.9.1
  CHANGELOG.md
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

docs: remove outdated Nix flake setup instructions
  README.md
Due: prettier

feat: add support for conditionally unsetting a question's default value
  copier/_jinja_ext.py
  copier/_main.py
  copier/_user_data.py
  docs/configuring.md
  tests/test_copy.py
Due: editorconfig-checker, prettier

build(deps): update jetpackio/devbox docker tag to v0.16.0
  .devcontainer/Dockerfile
Due: editorconfig-checker, prettier

build(deps): update dependency devbox to v0.16.0
  .devcontainer/Dockerfile
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  devbox.json
  devtasks.py
Due: editorconfig-checker, prettier

build(deps): update dependency mkdocs-material to v9.6.18
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency ruff to v0.12.10
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency types-pyyaml to v6.0.12.20250822
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

feat: add support for nested multi-document includes in `copier.yml` (#2251)
  copier/_template.py
  tests/demo_transclude_nested_include/demo/copier.yml
  tests/demo_transclude_nested_include/demo/include_me.yml
  tests/demo_transclude_nested_include/demo/include_me_also.yml
  tests/test_config.py
Due: editorconfig-checker, prettier

build(deps): update dependency typing-extensions to v4.15.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

fix: disable default answer validator for secret questions
  copier/_main.py
  copier/_user_data.py
  tests/test_copy.py
  tests/test_prompt.py
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

bump: version 9.9.1 → 9.10.0
  CHANGELOG.md
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency platformdirs to v4.4.0
  uv.lock
Due: editorconfig-checker, prettier

feat(_template.py): add (crude) conditional transclusion
  copier/_template.py
Due: editorconfig-checker, prettier

test: add tests for conditional transclusion
  tests/demo_transclude_conditional/demo/copier.yml
  tests/demo_transclude_conditional/demo/include_me.yml
  tests/demo_transclude_conditional/demo/include_me_also.yml
  tests/demo_transclude_conditional/demo/{% if not_exist %}test_none.py{% endif %}
  tests/demo_transclude_conditional/demo/{% if test %}test.py{% endif %}
  tests/demo_transclude_conditional/demo/{{ _copier_conf.answers_file }}.jinja
  tests/test_config.py
Due: editorconfig-checker, prettier

fix: fix code after merge with up-to-date master
  copier/_template.py
  tests/test_config.py
Due: editorconfig-checker, prettier

fix: fix static typing [mypy]
  copier/_template.py
  tests/test_config.py
Due: editorconfig-checker, prettier

docs: apply Jinja syntax highlighting to inline code blocks
  docs/configuring.md
  docs/creating.md
  mkdocs.yml
Due: editorconfig-checker, prettier

fix(deps): cap prompt-toolkit to <3.0.52
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency prompt-toolkit to <3.0.53
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

bump: version 9.10.0 → 9.10.1
  CHANGELOG.md
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency questionary to v2.1.1
  uv.lock
Due: editorconfig-checker, prettier

Path conditions:
  editorconfig-checker: any file but: \.md$|\.noeof\.|\.bundle$
  prettier: any file but: (?x)(
  # Some API reference identifiers are dotted paths involving
  # internal modules prefixed with `_` which are converted by
  # Prettier to `\_`, making them invalid.
  ^docs/reference/.+\.md$|
  # Those files have wrong syntax and would fail
  ^tests/demo_invalid/copier\.yml$|
  ^tests/demo_transclude_invalid(_multi)?/demo/copier\.yml$|
  # HACK https://github.com/prettier/prettier/issues/9430
  ^tests/demo
)

  taplo: any of: \.toml$
