Repository copier-org/copier: changes, and which pre-commit hooks are due for each by the changed paths.
All: editorconfig-checker, prettier, taplo

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: codespell
        name: codespell
        entry: uv run codespell
        language: system
        types: [text]

      - id: commitizen
        name: commitizen check
        entry: uv run cz check
        args: [--allow-abort, --commit-msg-file]
        stages: [commit-msg]
        language: system

      - id: editorconfig-checker
        name: editorconfig-checker
        entry: editorconfig-checker
        language: system
        types: [text]
        exclude: \.md$|\.noeof\.|\.bundle$

      - id: prettier
        name: prettier
        entry: prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        exclude: |
          (?x)(
            # Some API reference identifiers are dotted paths involving
            # internal modules prefixed with `_` which are converted by
            # Prettier to `\_`, making them invalid.
            ^docs/reference/.+\.md$|
            # Those files have wrong syntax and would fail
            ^tests/demo_invalid/copier\.yml$|
            ^tests/demo_transclude_invalid(_multi)?/demo/copier\.yml$|
            # HACK https://github.com/prettier/prettier/issues/9430
            ^tests/demo
          )

      - id: ruff-check
        name: ruff-check
        entry: uv run ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: taplo
        name: taplo
        entry: uv run taplo format
        language: system
        types: [toml]
        require_serial: true

chore: apply fixed
  copier/_vcs.py
Due: editorconfig-checker, prettier

handle windows not supporting pexpect.pty_spawn
  tests/helpers.py
  tests/test_prompt.py
Due: editorconfig-checker, prettier

use SpawnBase for type annotations
  tests/helpers.py
Due: editorconfig-checker, prettier

feat: add support for prompting filesystem paths (#2210)
  copier/_user_data.py
  docs/configuring.md
  tests/helpers.py
  tests/test_copy.py
  tests/test_prompt.py
Due: editorconfig-checker, prettier

perf(vcs): try overrides core.fsmonitor to false when checkout
  copier/_vcs.py
Due: editorconfig-checker, prettier

add examples of inheritance and composition
  docs/inheritance_and_composition.md
  mkdocs.yml
Due: editorconfig-checker, prettier

docs: add docs on test and when checkout
  copier/_vcs.py
  tests/test_vcs.py
Due: editorconfig-checker, prettier

docs: add github issue
  copier/_vcs.py
Due: editorconfig-checker, prettier

Add operational distinction between inheritance and composition
  docs/inheritance_and_composition.md
Due: prettier

fix(vcs): fix cloning local dirty template repo when `core.fsmonitor=true` (#2151)
  copier/_vcs.py
  tests/test_vcs.py
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.12.5
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency uv to v0.8.2
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency mkdocs-material to v9.6.16
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

test(conftest.py): add pytest argument `--spawn-timeout` & corresponding fixture `spawn_timout`
  tests/conftest.py
Due: editorconfig-checker, prettier

test: replace all `timeout=10` by `timeout=spawn_timeout` & insert `spawn_timeout` fixture in fct args
  tests/test_complex_questions.py
  tests/test_conditional_file_name.py
  tests/test_output.py
  tests/test_prompt.py
  tests/test_templated_prompt.py
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

test(test_prompt.py): replace all `timeout=30` by `spawn_timeout * 3 if spawn_timeout is not None and spawn_timeout > 0 else None`
  tests/test_prompt.py
Due: editorconfig-checker, prettier

test(test_config.py): add nested transclusion test for populated transcluded files
  tests/demo_nested_transcludes/copier_files/include_me.yml
  tests/demo_nested_transcludes/copier_files/nested/include_me_also.yml
  tests/demo_nested_transcludes/demo/copier.yml
  tests/test_config.py
Due: editorconfig-checker, prettier

fix(_template.py): fix `yaml.composer.ComposerError` when transcluding nested populated files
  copier/_template.py
Due: editorconfig-checker, prettier

test(test_config.py): change demo directory name for consistency
  tests/demo_transclude_nested/copier_files/include_me.yml
  tests/demo_transclude_nested/copier_files/nested/include_me_also.yml
  tests/demo_transclude_nested/demo/copier.yml
  tests/test_config.py
Due: editorconfig-checker, prettier

docs(configuring.md): add a note precising that nested transclusions have to be relative to `copier.yml`, not to each other
  docs/configuring.md
Due: prettier

test(test_config.py): add tests for circular transclusion failure case
  tests/demo_transclude_circular/copier_files/include_me.yml
  tests/demo_transclude_circular/copier_files/include_me_also.yml
  tests/demo_transclude_circular/demo/copier.yml
  tests/demo_transclude_circular_bis/copier_files/include_me.yml
  tests/demo_transclude_circular_bis/copier_files/include_me_also.yml
  tests/demo_transclude_circular_bis/demo/copier.yml
  tests/test_config.py
Due: editorconfig-checker, prettier

fix(updating): disable secret question validator when replaying old copy
  copier/_main.py
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

improve example
  docs/inheritance_and_composition.md
Due: prettier

test: modify the `spawn` fixture to use `spawn_timeout` fixture as a default value instead of passing fixture to the tests
  tests/conftest.py
  tests/helpers.py
  tests/test_complex_questions.py
  tests/test_conditional_file_name.py
  tests/test_output.py
  tests/test_prompt.py
  tests/test_templated_prompt.py
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

ci: override Python version from `.python-version` with matrix version
  .github/workflows/ci.yml
Due: editorconfig-checker, prettier

build(deps): update dependency mypy to v1.17.1
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency ruff to v0.12.7
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

bump: version 9.8.0 → 9.9.0
  .devcontainer/Dockerfile
  CHANGELOG.md
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency types-colorama to v0.4.15.20250801
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

style(tests): match origin/master style, & remove diff noise
  tests/test_complex_questions.py
  tests/test_conditional_file_name.py
  tests/test_prompt.py
  tests/test_templated_prompt.py
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

style(tests): collapse branch-made single argument calls into single lines
  tests/test_output.py
  tests/test_templated_prompt.py
Due: editorconfig-checker, prettier
