Repository copier-org/copier: changes, and which pre-commit hooks are due for each by the changed paths.
All: editorconfig-checker, prettier, taplo

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: codespell
        name: codespell
        entry: uv run codespell
        language: system
        types: [text]

      - id: commitizen
        name: commitizen check
        entry: uv run cz check
        args: [--allow-abort, --commit-msg-file]
        stages: [commit-msg]
        language: system

      - id: editorconfig-checker
        name: editorconfig-checker
        entry: editorconfig-checker
        language: system
        types: [text]
        exclude: \.md$|\.noeof\.|\.bundle$

      - id: prettier
        name: prettier
        entry: prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        exclude: |
          (?x)(
            # Some API reference identifiers are dotted paths involving
            # internal modules prefixed with `_` which are converted by
            # Prettier to `\_`, making them invalid.
            ^docs/reference/.+\.md$|
            # Those files have wrong syntax and would fail
            ^tests/demo_invalid/copier\.yml$|
            ^tests/demo_transclude_invalid(_multi)?/demo/copier\.yml$|
            # HACK https://github.com/prettier/prettier/issues/9430
            ^tests/demo
          )

      - id: ruff-check
        name: ruff-check
        entry: uv run ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: taplo
        name: taplo
        entry: uv run taplo format
        language: system
        types: [toml]
        require_serial: true

refactor: replace StrOrPath
  copier/_main.py
Due: editorconfig-checker, prettier

fix: remove temporary logging
  copier/_cli.py
  copier/_main.py
Due: editorconfig-checker, prettier

docs: capitalize json
  docs/updating.md
Due: prettier

style: update formatting for test_check_update
  tests/test_check_update.py
Due: editorconfig-checker, prettier

chore: reformat docstring
  copier/_cli.py
Due: editorconfig-checker, prettier

build(deps): update dependency mkdocs-material to v9.7.3
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency poethepoet to v0.42.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): lock file maintenance
  devbox.lock
  uv.lock
Due: editorconfig-checker, prettier

build(deps): lock file maintenance (#2518)
  devbox.lock
  uv.lock
Due: editorconfig-checker, prettier

refactor: replace SubprojectOutdatedError
  copier/_cli.py
  copier/errors.py
  docs/updating.md
  tests/test_check_update.py
Due: editorconfig-checker, prettier

build(deps): update dependency commitizen to v4.13.9
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

docs: fix typo
  docs/updating.md
Due: prettier

style: reformat 'with Worker'
  copier/_main.py
Due: editorconfig-checker, prettier

style: reformat get_update_data
  copier/_main.py
Due: editorconfig-checker, prettier

docs: remove incorrect whitespace from examples
  docs/updating.md
Due: prettier

refactor: reduce nested if/else for CopierCheckUpdateSubApp
  copier/_cli.py
Due: editorconfig-checker, prettier

build(deps): update dependency uv to v0.10.4
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency git to v2.53.0
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

fix: skip group prompt when using --defaults arg
  copier/_user_data.py
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.15.4
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update github artifact actions
  .github/workflows/release.yml
Due: editorconfig-checker, prettier

build(deps): update dependency poethepoet to v0.42.1
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

test: simplify test_check_update part 1
  tests/test_check_update.py
Due: editorconfig-checker, prettier

test: simplify test_check_update part 2
  tests/test_check_update.py
Due: editorconfig-checker, prettier

test: simplify test_check_update part 3
  tests/test_check_update.py
Due: editorconfig-checker, prettier

test: lint and remove --defaults from test_check_update
  tests/test_check_update.py
Due: editorconfig-checker, prettier

feat: add CLI subcommand `check-update` to check for new template version (#2463)
  copier/_cli.py
  copier/_main.py
  docs/updating.md
  tests/test_check_update.py
Due: editorconfig-checker, prettier

build(deps): update dependency mkdocs-material to v9.7.4
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency uv to v0.10.6
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency devbox to v0.17.0
  .devcontainer/Dockerfile
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  devbox.json
  devtasks.py
Due: editorconfig-checker, prettier

build(deps): update jetpackio/devbox docker tag to v0.17.0
  .devcontainer/Dockerfile
Due: editorconfig-checker, prettier
