Repository copier-org/copier: changes, and which pre-commit hooks are due for each by the changed paths.
All: editorconfig-checker, prettier, taplo

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: codespell
        name: codespell
        entry: uv run codespell
        language: system
        types: [text]

      - id: commitizen
        name: commitizen check
        entry: uv run cz check
        args: [--allow-abort, --commit-msg-file]
        stages: [commit-msg]
        language: system

      - id: editorconfig-checker
        name: editorconfig-checker
        entry: editorconfig-checker
        language: system
        types: [text]
        exclude: \.md$|\.noeof\.|\.bundle$

      - id: prettier
        name: prettier
        entry: prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        exclude: |
          (?x)(
            # Some API reference identifiers are dotted paths involving
            # internal modules prefixed with `_` which are converted by
            # Prettier to `\_`, making them invalid.
            ^docs/reference/.+\.md$|
            # Those files have wrong syntax and would fail
            ^tests/demo_invalid/copier\.yml$|
            ^tests/demo_transclude_invalid(_multi)?/demo/copier\.yml$|
            # HACK https://github.com/prettier/prettier/issues/9430
            ^tests/demo
          )

      - id: ruff-check
        name: ruff-check
        entry: uv run ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: taplo
        name: taplo
        entry: uv run taplo format
        language: system
        types: [toml]
        require_serial: true

fix: clean up temporary clone directory when internal `git clone` is interrupted
  copier/_template.py
  copier/_vcs.py
  tests/test_cleanup.py
Due: editorconfig-checker, prettier

build(deps): update dependency rumdl to v0.1.84
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency pathspec to v1.1.1
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update dependency poethepoet to v0.45.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency uv to v0.11.7
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

bump: version 9.14.3 → 9.15.0
  CHANGELOG.md
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

feat(updating): propagate exec bit on new template files when core.fileMode=false
  copier/_main.py
  docs/updating.md
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

build(deps): update dependency uv to v0.11.8
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency rumdl to v0.1.87
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency commitizen to v4.15.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

refactor(Question): move `use_shortcuts` validation to a Pydantic Model Validator
  copier/_user_data.py
  tests/test_choices.py
Due: editorconfig-checker, prettier

docs(docs/configuring.md): switch "Supported keys" item order
  docs/configuring.md
Due: prettier

docs(docs/configuring.md): disable `rumdl` for `pre` html tag blocks
  docs/configuring.md
Due: prettier

build(deps): update dependency commitizen to v4.15.1
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency rumdl to v0.1.89
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

fix: restore support for `copier copy` when `git` is not available
  copier/_main.py
  copier/_template.py
  copier/_vcs.py
  tests/test_copy.py
Due: editorconfig-checker, prettier

build(deps): update dependency pydantic to v2.13.4
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update dependency mypy to v2
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency difftastic to v0.69.0
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency rumdl to v0.1.91
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency types-colorama to v0.4.15.20260508
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency uv to v0.11.10
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency types-pyyaml to v6.0.12.20260510
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

fix: better error on invalid choice
  copier/_user_data.py
  tests/test_copy.py
Due: editorconfig-checker, prettier

build(deps): update dependency mypy to v2.1.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency commitizen to v4.16.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

fix: enrich invalid choice error message with variable name and valid choices (#2662)
  copier/_user_data.py
  tests/test_copy.py
Due: editorconfig-checker, prettier

build(deps): update dependency types-pygments to v2.20.0.20260508
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency inline-snapshot to v0.33.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo
