Repository copier-org/copier: changes, and which pre-commit hooks are due for each by the changed paths.
All: editorconfig-checker, prettier, taplo

editorconfig-checker:
  name: editorconfig-checker
  entry: editorconfig-checker
  language: system

prettier:
  name: prettier
  entry: prettier --write --list-different --ignore-unknown
  language: system

taplo:
  name: taplo
  entry: uv run taplo format
  language: system
  require_serial: true

build(deps): update dependency platformdirs to v4.5.0
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update dependency pre-commit to v4.4.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency mkdocs-material to v9.7.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

Squash test
  tests/test_dirty_local.py
Due: editorconfig-checker, prettier

build(deps): update dependency pytest to v9
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

Update tests/test_dirty_local.py
  tests/test_dirty_local.py
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.14.5
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency pytest-gitconfig to v0.8.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency git to v2.51.2
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency uv to v0.9.7
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

feat(updating): allow updating a dirty Git repository when the subproject directory is clean (#2369)
  copier/_subproject.py
  tests/test_dirty_local.py
Due: editorconfig-checker, prettier

build(deps): update dependency difftastic to v0.67.0
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update actions/checkout action to v6
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: editorconfig-checker, prettier

bump: version 9.10.3 → 9.11.0
  CHANGELOG.md
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency types-pygments to v2.19.0.20251121
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): lock file maintenance
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.14.6
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency pre-commit to v4.5.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency poethepoet to v0.38.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): lock file maintenance
  devbox.lock
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update dependency pydantic to v2.12.5
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update dependency uv to v0.9.9
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency editorconfig-checker to v3.5.0
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency mkdocstrings to v1
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

docs: remove outdated Nix flake setup instructions
  README.md
Due: prettier

build(deps): update dependency mypy to v1.19.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency ruff to v0.14.7
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency uv to v0.9.13
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency editorconfig-checker to v3.6.0
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.14.8
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

Path conditions:
  editorconfig-checker: any file but: \.md$|\.noeof\.|\.bundle$
  prettier: any file but: (?x)(
  # Some API reference identifiers are dotted paths involving
  # internal modules prefixed with `_` which are converted by
  # Prettier to `\_`, making them invalid.
  ^docs/reference/.+\.md$|
  # Those files have wrong syntax and would fail
  ^tests/demo_invalid/copier\.yml$|
  ^tests/demo_transclude_invalid(_multi)?/demo/copier\.yml$|
  # HACK https://github.com/prettier/prettier/issues/9430
  ^tests/demo
)

  taplo: any of: \.toml$
