Repository copier-org/copier: changes, and which pre-commit hooks are due for each by the changed paths.
All: editorconfig-checker, prettier, taplo

editorconfig-checker:
  name: editorconfig-checker
  entry: editorconfig-checker
  language: system

prettier:
  name: prettier
  entry: prettier --write --list-different --ignore-unknown
  language: system

taplo:
  name: taplo
  entry: uv run taplo format
  language: system
  require_serial: true

docs: Fix broken Star History chart
  README.md
Due: prettier

build(deps): update dependency pre-commit to v4.6.2
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

feat: allow an exclude entry to render to multiple newline-separated patterns
  copier/_main.py
  docs/configuring.md
  tests/test_exclude.py
Due: editorconfig-checker, prettier

build(deps): update dependency inline-snapshot to v0.35.4
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

making docs more straightforward
  copier/_main.py
  docs/configuring.md
  tests/test_exclude.py
Due: editorconfig-checker, prettier

fix: address copilot review feedback
  copier/_main.py
  docs/configuring.md
Due: editorconfig-checker, prettier

build(deps): update dependency difftastic to v0.70.0
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

style: annotate IgnoreExtension.tags with noqa to satisfy ruff RUF012
  copier/_jinja_ext.py
Due: editorconfig-checker, prettier

Update docs/configuring.md
  docs/configuring.md
Due: prettier

Update tests/test_exclude.py
  tests/test_exclude.py
Due: editorconfig-checker, prettier

Update copier/_main.py
  copier/_main.py
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.16.3
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

addressing ci failure
  copier/_main.py
Due: editorconfig-checker, prettier

build(deps): update dependency platformdirs to v4.11.3
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update astral-sh/setup-uv action to v10
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: editorconfig-checker, prettier

build(deps): update dependency editorconfig-checker to v3.11.1
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency mypy to v2.3.1
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency types-pyyaml to v6.0.12.20260815
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency devbox to v0.18.0
  .devcontainer/Dockerfile
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  devbox.json
  devtasks.py
Due: editorconfig-checker, prettier

build(deps): update jetpackio/devbox docker tag to v0.18.0
  .devcontainer/Dockerfile
Due: editorconfig-checker, prettier

build(deps): update dependency commitizen to v4.17.1
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency pygments to v2.21.0
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update dependency rumdl to v0.2.56
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

test: remove `cleanup_on_error=False` debugging left-over
  tests/test_symlinks.py
Due: editorconfig-checker, prettier

refactor(updating): omit user-deleted files from "theirs" side of 3-way merge
  copier/_main.py
Due: editorconfig-checker, prettier

refactor(updating): delete user-removed files after rendering instead of excluding them
  copier/_main.py
Due: editorconfig-checker, prettier

Path conditions:
  editorconfig-checker: any file but: \.md$|\.noeof\.|\.bundle$
  prettier: any file but: (?x)(
  # Some API reference identifiers are dotted paths involving
  # internal modules prefixed with `_` which are converted by
  # Prettier to `\_`, making them invalid.
  ^docs/reference/.+\.md$|
  # Those files have wrong syntax and would fail
  ^tests/demo_invalid/copier\.yml$|
  ^tests/demo_transclude_invalid(_multi)?/demo/copier\.yml$|
  # HACK https://github.com/prettier/prettier/issues/9430
  ^tests/demo
)

  taplo: any of: \.toml$
