Repository copier-org/copier: changes, and which pre-commit hooks are due for each by the changed paths.
All: editorconfig-checker, prettier, taplo

editorconfig-checker:
  name: editorconfig-checker
  entry: editorconfig-checker
  language: system

prettier:
  name: prettier
  entry: prettier --write --list-different --ignore-unknown
  language: system

taplo:
  name: taplo
  entry: uv run taplo format
  language: system
  require_serial: true

build(deps): update dependency mkdocs-material to v9.7.4
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency codespell to v2.4.2
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency platformdirs to v4.9.4
  uv.lock
Due: editorconfig-checker, prettier

bump: version 9.12.0 → 9.13.0
  CHANGELOG.md
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency ruff to v0.15.5
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

docs: remove outdated note about updating multiselect choices via `--data` flag
  docs/updating.md
Due: prettier

fix(vcs): make Git version parsing robust to vendor-suffixed patch versions
  copier/_vcs.py
  tests/test_vcs.py
Due: editorconfig-checker, prettier

bump: version 9.13.0 → 9.13.1
  CHANGELOG.md
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

fix(updating): run tasks in Git repository with subproject's Git config
  copier/_main.py
  tests/test_updatediff.py
  tests/test_vcs.py
Due: editorconfig-checker, prettier

fix(cli): show only supported flags in `check-update` command help output
  copier/_cli.py
  pyproject.toml
  tests/test_cli.py
  uv.lock
Due: editorconfig-checker, prettier, taplo

fix: only warn about dirty template when checking out `HEAD`
  copier/_template.py
  copier/_vcs.py
  tests/test_dirty_local.py
  tests/test_vcs.py
Due: editorconfig-checker, prettier

feat(cli): add `--answers-file` flag to `check-update` command
  copier/_cli.py
  copier/_main.py
  tests/test_check_update.py
  tests/test_cli.py
Due: editorconfig-checker, prettier

test(cli): snapshot help output for copy and update commands
  tests/test_cli.py
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.15.6
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency mkdocs-material to v9.7.5
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

bump: version 9.13.1 → 9.14.0
  CHANGELOG.md
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency inline-snapshot to v0.32.5
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency uv to v0.10.9
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

chore(devcontainer): remove uv's virtual env path override
  .devcontainer/Dockerfile
Due: editorconfig-checker, prettier

refactor!: introduce new update algorithm based on `git merge`
  copier/_cli.py
  copier/_main.py
  copier/_tools.py
  docs/configuring.md
  docs/creating.md
  docs/updating.md
  tests/helpers.py
  tests/test_cli.py
  tests/test_dirty_local.py
  tests/test_subdirectory.py
  tests/test_tools.py
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

refactor: make `YieldExtension` self-contained
  copier/_jinja_ext.py
  copier/_main.py
Due: editorconfig-checker, prettier

fix(Question): change from superseeding to `ValidationError` for mutual exclusiveness
  copier/_user_data.py
Due: editorconfig-checker, prettier

docs(Question): improve & adapt docstring to mutual exclusiveness
  copier/_user_data.py
Due: editorconfig-checker, prettier

test(tests/test_choices.py): break down fixtures into clearer tests; add ValidationError tests
  tests/test_choices.py
Due: editorconfig-checker, prettier

docs(docs/configuring.md): improve & simplify the docs relative to `use_shortcuts` & `use_search_filter`
  docs/configuring.md
Due: prettier

Path conditions:
  editorconfig-checker: any file but: \.md$|\.noeof\.|\.bundle$
  prettier: any file but: (?x)(
  # Some API reference identifiers are dotted paths involving
  # internal modules prefixed with `_` which are converted by
  # Prettier to `\_`, making them invalid.
  ^docs/reference/.+\.md$|
  # Those files have wrong syntax and would fail
  ^tests/demo_invalid/copier\.yml$|
  ^tests/demo_transclude_invalid(_multi)?/demo/copier\.yml$|
  # HACK https://github.com/prettier/prettier/issues/9430
  ^tests/demo
)

  taplo: any of: \.toml$
