Repository copier-org/copier: changes, and which pre-commit hooks are due for each by the changed paths.
All: editorconfig-checker, prettier, taplo

editorconfig-checker:
  name: editorconfig-checker
  entry: editorconfig-checker
  language: system

prettier:
  name: prettier
  entry: prettier --write --list-different --ignore-unknown
  language: system

taplo:
  name: taplo
  entry: uv run taplo format
  language: system
  require_serial: true

fix: fix using default answers from settings for required questions (#2374)
  copier/_user_data.py
  tests/test_config.py
Due: editorconfig-checker, prettier

docs: remove outdated Nix flake setup instructions
  README.md
Due: prettier

fix: raise warning instead of error when `chmod` is not allowed
  copier/_main.py
  tests/test_copy.py
Due: editorconfig-checker, prettier

add dual-versioning with automatic tag resolution
  copier/_cli.py
  copier/_main.py
  copier/_subproject.py
  copier/_template.py
  tests/test_answersfile.py
  tests/test_complex_questions.py
  tests/test_ignore_git_tags.py
  tests/test_legacy_migration.py
  tests/test_resolve_commit_to_sha.py
  tests/test_templated_prompt.py
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

update docs
  copier/_main.py
  docs/configuring.md
  docs/faq.md
  docs/updating.md
Due: editorconfig-checker, prettier

update docs
  copier/_main.py
Due: editorconfig-checker, prettier

Update tests; run all pre-commit hooks
  tests/test_dirty_local.py
Due: editorconfig-checker, prettier

refactor!: introduce new update algorithm based on `git merge`
  copier/_cli.py
  copier/_main.py
  copier/_tools.py
  docs/configuring.md
  docs/creating.md
  docs/updating.md
  tests/helpers.py
  tests/test_cli.py
  tests/test_subdirectory.py
  tests/test_tools.py
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

fix: use the .gitignore to exclude dirs instead of files
  copier/_main.py
Due: editorconfig-checker, prettier

test: add big directory to test_udpatediff.py to test dir exclude
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

feat: only add dirs to exclude if has files
  copier/_main.py
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.14.3
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency plumbum to v1.10.0
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update dependency mkdocs-material to v9.6.23
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

feat: add custom qmark parameter for question prompts
  copier/_user_data.py
  docs/configuring.md
  tests/test_prompt.py
Due: editorconfig-checker, prettier

build(deps): update dependency uv to v0.8.23
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency pydantic to v2.12.4
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.14.4
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

test: fix qmark emoji test assertion
  tests/conftest.py
  tests/test_prompt.py
Due: editorconfig-checker, prettier

feat: add postrender tasks phase for post-rendering transformations
  copier/_main.py
  copier/_template.py
  copier/_types.py
  docs/configuring.md
  docs/creating.md
  tests/test_postrender.py
Due: editorconfig-checker, prettier

fix: Removed trailing whitespace in qmark doc
  docs/configuring.md
Due: prettier

build(deps): update dependency commitizen to v4.10.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

refactor: drop support for Python 3.9
  .github/workflows/ci.yml
  .python-version
  README.md
  copier/_cli.py
  copier/_jinja_ext.py
  copier/_main.py
  copier/_subproject.py
  copier/_tools.py
  copier/_types.py
  copier/_user_data.py
  pyproject.toml
  tests/test_answersfile.py
  tests/test_cli.py
  tests/test_config.py
  tests/test_prompt.py
  tests/test_settings.py
  tests/test_vcs.py
  uv.lock
Due: editorconfig-checker, prettier, taplo

feat: add support for custom question icons (#2381)
  copier/_user_data.py
  docs/configuring.md
  tests/conftest.py
  tests/test_prompt.py
Due: editorconfig-checker, prettier

build(deps): update dependency platformdirs to v4.5.0
  uv.lock
Due: editorconfig-checker, prettier

build(deps): lock file maintenance
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update dependency markdown-exec to v1.12.1
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency pre-commit to v4.4.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency pytest-gitconfig to v0.8.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency mkdocs-material to v9.7.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

Path conditions:
  editorconfig-checker: any file but: \.md$|\.noeof\.|\.bundle$
  prettier: any file but: (?x)(
  # Some API reference identifiers are dotted paths involving
  # internal modules prefixed with `_` which are converted by
  # Prettier to `\_`, making them invalid.
  ^docs/reference/.+\.md$|
  # Those files have wrong syntax and would fail
  ^tests/demo_invalid/copier\.yml$|
  ^tests/demo_transclude_invalid(_multi)?/demo/copier\.yml$|
  # HACK https://github.com/prettier/prettier/issues/9430
  ^tests/demo
)

  taplo: any of: \.toml$
