Repository copier-org/copier: changes, and which pre-commit hooks are due for each by the changed paths.
All: editorconfig-checker, prettier, taplo

editorconfig-checker:
  name: editorconfig-checker
  entry: editorconfig-checker
  language: system

prettier:
  name: prettier
  entry: prettier --write --list-different --ignore-unknown
  language: system

taplo:
  name: taplo
  entry: uv run taplo format
  language: system
  require_serial: true

docs: clarify validator helper filters
  docs/configuring.md
Due: prettier

docs: add validator example (#2687)
  docs/configuring.md
Due: prettier

build(deps): update dependency rumdl to v0.2.2
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency prettier to v3.8.3
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.15.14
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): lock file maintenance
  devbox.lock
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update dependency platformdirs to v4.10.0
  uv.lock
Due: editorconfig-checker, prettier

docs: clarify that exclude patterns are evaluated against destination paths
  docs/configuring.md
Due: prettier

build(deps): update dependency uv to v0.11.16
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency editorconfig-checker to v3.7.0
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency inline-snapshot to v0.34.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

feat: add --ask option to `update`/`copy`/`recopy`
  copier/_ask_pattern.py
  copier/_cli.py
  copier/_main.py
  docs/configuring.md
  tests/test_cli.py
  tests/test_prompt.py
Due: editorconfig-checker, prettier

build(deps): update dependency rumdl to v0.2.5
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency commitizen to v4.16.3
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency ruff to v0.15.15
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency git to v2.54.0
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

fix(vcs): ignore empty nested git repos in dirty templates
  copier/_vcs.py
  tests/test_dirty_local.py
Due: editorconfig-checker, prettier

build(deps): update astral-sh/setup-uv action to v8.2.0
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: editorconfig-checker, prettier

build(deps): update dependency uv to v0.11.17
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency inline-snapshot to v0.34.1
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update codecov/codecov-action action to v7
  .github/workflows/ci.yml
Due: editorconfig-checker, prettier

build(deps): update dependency devbox to v0.17.3
  .devcontainer/Dockerfile
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  devbox.json
  devtasks.py
Due: editorconfig-checker, prettier

build(deps): update jetpackio/devbox docker tag to v0.17.3
  .devcontainer/Dockerfile
Due: editorconfig-checker, prettier

fix: resolver local template path
  copier/_main.py
Due: editorconfig-checker, prettier

build(deps): update dependency plumbum to v2
  uv.lock
Due: editorconfig-checker, prettier

refactor: resolve local relative template path
  copier/_main.py
Due: editorconfig-checker, prettier

build(deps): update dependency rumdl to v0.2.13
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

Path conditions:
  editorconfig-checker: any file but: \.md$|\.noeof\.|\.bundle$
  prettier: any file but: (?x)(
  # Some API reference identifiers are dotted paths involving
  # internal modules prefixed with `_` which are converted by
  # Prettier to `\_`, making them invalid.
  ^docs/reference/.+\.md$|
  # Those files have wrong syntax and would fail
  ^tests/demo_invalid/copier\.yml$|
  ^tests/demo_transclude_invalid(_multi)?/demo/copier\.yml$|
  # HACK https://github.com/prettier/prettier/issues/9430
  ^tests/demo
)

  taplo: any of: \.toml$
