Repository copier-org/copier: changes, and which pre-commit hooks are due for each by the changed paths.
All: editorconfig-checker, prettier, taplo

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: codespell
        name: codespell
        entry: uv run codespell
        language: system
        types: [text]

      - id: commitizen
        name: commitizen check
        entry: uv run cz check
        args: [--allow-abort, --commit-msg-file]
        stages: [commit-msg]
        language: system

      - id: editorconfig-checker
        name: editorconfig-checker
        entry: editorconfig-checker
        language: system
        types: [text]
        exclude: \.md$|\.noeof\.|\.bundle$

      - id: prettier
        name: prettier
        entry: prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        exclude: |
          (?x)(
            # Some API reference identifiers are dotted paths involving
            # internal modules prefixed with `_` which are converted by
            # Prettier to `\_`, making them invalid.
            ^docs/reference/.+\.md$|
            # Those files have wrong syntax and would fail
            ^tests/demo_invalid/copier\.yml$|
            ^tests/demo_transclude_invalid(_multi)?/demo/copier\.yml$|
            # HACK https://github.com/prettier/prettier/issues/9430
            ^tests/demo
          )

      - id: ruff-check
        name: ruff-check
        entry: uv run ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: taplo
        name: taplo
        entry: uv run taplo format
        language: system
        types: [toml]
        require_serial: true

test(tests/unittest/test__user_data.py): add unittests for `AnswersMap`
  tests/unittest/test__user_data.py
Due: editorconfig-checker, prettier

test(tests/unittest/test__user_data.py): fix duplicated assert statement
  tests/unittest/test__user_data.py
Due: editorconfig-checker, prettier

fix(updating): restore support for preserved symlinks pointing outside subproject (#2427)
  copier/_main.py
  tests/test_symlinks.py
Due: editorconfig-checker, prettier

fix: disallow symlink-based includes outside template root
  copier/_main.py
  tests/test_symlinks.py
Due: editorconfig-checker, prettier

docs: add filenames
  README.md
Due: prettier

test: add test that preserved symlinks are not followed
  tests/test_symlinks.py
Due: editorconfig-checker, prettier

chore: debug
  .github/workflows/ci.yml
  copier/_main.py
Due: editorconfig-checker, prettier

build(deps): update dependency uv to v0.9.24
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

docs: mention filenames before code blocks in quickstart section (#2458)
  README.md
Due: prettier

build(deps): update dependency commitizen to v4.11.6
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency ruff to v0.14.13
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

Code review fixes
  copier/_main.py
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

build(deps): update dependency commitizen to v4.12.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency mkdocstrings to v1.0.1
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

fix: treat whitespace-only strings as false in cast_to_bool
  copier/_tools.py
  tests/test_cast_to_bool.py
Due: editorconfig-checker, prettier

refactor: refactor check code for current project structure
  copier/_cli.py
  copier/_main.py
Due: editorconfig-checker, prettier

refactor: rename 'check' subcommand to 'check-update'
  copier/_cli.py
  copier/_main.py
Due: editorconfig-checker, prettier

fix: hard-code exit code to 2 when updates are detected
  copier/_cli.py
Due: editorconfig-checker, prettier

fix: fix error handling to reflect project updates
  copier/_cli.py
  copier/_main.py
Due: editorconfig-checker, prettier

refactor: rename 'run_check' to 'run_check_update'
  copier/_main.py
Due: editorconfig-checker, prettier

feat: add --check-update-output-as-json flag for check-update subcommand
  copier/_cli.py
  copier/_main.py
Due: editorconfig-checker, prettier

test: add tests for check-update subcommand
  tests/test_check_update.py
Due: editorconfig-checker, prettier

Code review fixes
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

bump: version 9.11.1 → 9.11.2
  CHANGELOG.md
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

fix: avoid pattern deprecation warning for `pathspec` v1.0.0+
  copier/_main.py
Due: editorconfig-checker, prettier

build(deps): update dependency pathspec to v1
  uv.lock
Due: editorconfig-checker, prettier

build(deps): lock file maintenance
  devbox.lock
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update dependency mypy to v1.19.1
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(typing): ignore untyped decorator using `untyped-decorator` introduced in mypy v1.19.0
  copier/_cli.py
Due: editorconfig-checker, prettier

build(deps): update dependency mypy to v1.19.1
  copier/_cli.py
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency uv to v0.9.26
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency packaging to v26
  uv.lock
Due: editorconfig-checker, prettier
