Repository copier-org/copier: changes, and which pre-commit hooks are due for each by the changed paths.
All: editorconfig-checker, prettier, taplo

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: codespell
        name: codespell
        entry: uv run codespell
        language: system
        types: [text]

      - id: commitizen
        name: commitizen check
        entry: uv run cz check
        args: [--allow-abort, --commit-msg-file]
        stages: [commit-msg]
        language: system

      - id: editorconfig-checker
        name: editorconfig-checker
        entry: editorconfig-checker
        language: system
        types: [text]
        exclude: \.md$|\.noeof\.|\.bundle$

      - id: prettier
        name: prettier
        entry: prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        exclude: |
          (?x)(
            # Some API reference identifiers are dotted paths involving
            # internal modules prefixed with `_` which are converted by
            # Prettier to `\_`, making them invalid.
            ^docs/reference/.+\.md$|
            # Those files have wrong syntax and would fail
            ^tests/demo_invalid/copier\.yml$|
            ^tests/demo_transclude_invalid(_multi)?/demo/copier\.yml$|
            # HACK https://github.com/prettier/prettier/issues/9430
            ^tests/demo
          )

      - id: ruff-check
        name: ruff-check
        entry: uv run ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: taplo
        name: taplo
        entry: uv run taplo format
        language: system
        types: [toml]
        require_serial: true

build(deps): update dependency dunamai to v1.26.0
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update dependency platformdirs to v4.9.2
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update dependency uv to v0.10.2
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

revert: refactor: deprecate `VcsRef` import from `copier` root module
  copier/__init__.py
Due: editorconfig-checker, prettier

revert: fix: remove incorrect import deprecation warnings for `types.Phase` and `types.VcsRef` enums
  copier/types.py
Due: editorconfig-checker, prettier

build(deps): update dependency commitizen to v4.13.8
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency mkdocs-material to v9.7.2
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

fix(pyproject.toml): change `max-doc-length` from 72 to 88
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

feat(pyproject.toml): ignore lint rule W505 on task comments
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

docs: make the docstrings & comments compliant to W505 (`max-doc-length = 88`)
  copier/_jinja_ext.py
  copier/_main.py
  copier/_tools.py
  copier/_vcs.py
  tests/conftest.py
  tests/test_config.py
  tests/test_context.py
  tests/test_dirty_local.py
  tests/test_migrations.py
  tests/test_tools.py
  tests/test_vcs.py
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.15.2
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

feat: re-export `Phase` enum at package level
  copier/__init__.py
  copier/types.py
Due: editorconfig-checker, prettier

refactor: deprecate public `settings` module and its symbols
  copier/_main.py
  copier/_settings.py
  copier/_user_data.py
  copier/settings.py
  tests/test_settings_deprecated.py
Due: editorconfig-checker, prettier

docs(copier/_main.py): split out list items over separate lines in a comment
  copier/_main.py
Due: editorconfig-checker, prettier

feat: add new settings API with minimal surface
  copier/__init__.py
  copier/_main.py
  copier/_settings.py
  copier/_user_data.py
  copier/errors.py
  copier/settings.py
  tests/conftest.py
  tests/test_settings.py
Due: editorconfig-checker, prettier

refactor(typing): use builtin types in public API signatures
  copier/_main.py
Due: editorconfig-checker, prettier

chore: enable Ruff's `W505` rule to enforce doc line length limit (#2452)
  copier/_jinja_ext.py
  copier/_main.py
  copier/_tools.py
  copier/_vcs.py
  pyproject.toml
  tests/conftest.py
  tests/test_config.py
  tests/test_context.py
  tests/test_dirty_local.py
  tests/test_migrations.py
  tests/test_tools.py
  tests/test_vcs.py
Due: editorconfig-checker, prettier, taplo

docs(api): remove deprecated `settings` and `types` modules from API reference
  docs/reference/api.md
Due: none

bump: version 9.11.3 → 9.12.0
  CHANGELOG.md
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

refactor(cli): call public `run_*` functions instead of internal `Worker.run_*` methods
  copier/_cli.py
Due: editorconfig-checker, prettier

docs: update check-update manual checking doc
  docs/updating.md
Due: prettier

test: restructure test_check_update
  tests/test_check_update.py
Due: editorconfig-checker, prettier

build(deps): update dependency poethepoet to v0.42.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

refactor: use explicit params on run_check_update
  copier/_main.py
Due: editorconfig-checker, prettier

refactor: move check-update logic out of worker
  copier/_cli.py
  copier/_main.py
Due: editorconfig-checker, prettier

docs: update check-update automated checking doc
  docs/updating.md
Due: prettier

docs: fix long docstring
  copier/_cli.py
Due: editorconfig-checker, prettier
