Repository copier-org/copier: changes, and which pre-commit hooks are due for each by the changed paths.
All: editorconfig-checker, prettier, taplo

editorconfig-checker:
  name: editorconfig-checker
  entry: editorconfig-checker
  language: system

prettier:
  name: prettier
  entry: prettier --write --list-different --ignore-unknown
  language: system

taplo:
  name: taplo
  entry: uv run taplo format
  language: system
  require_serial: true

Code review fixes
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

fix(updating): ignore Git hooks on internal checkout before 3-way merging file with conflicts (#2432)
  copier/_main.py
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

fix(updating): include non-question answers when generating fresh copy of new template
  copier/_main.py
Due: editorconfig-checker, prettier

build(deps): update dependency commitizen to v4.12.1
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency ruff to v0.14.14
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency uv to v0.9.26
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency packaging to v26
  uv.lock
Due: editorconfig-checker, prettier

bump: version 9.11.2 → 9.11.3
  CHANGELOG.md
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

Move whitespace-only string test to test_tools.py
  tests/test_cast_to_bool.py
  tests/test_tools.py
Due: editorconfig-checker, prettier

Fix cast_to_bool to treat whitespace-only strings as False
  copier/_tools.py
  tests/test_tools.py
Due: editorconfig-checker, prettier

Apply suggestion from @sisp: handle whitespace-only strings upfront
  copier/_tools.py
Due: editorconfig-checker, prettier

build(deps): update dependency mkdocstrings to v1.0.2
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): lock file maintenance
  devbox.lock
  uv.lock
Due: editorconfig-checker, prettier

docs: Move example for special UNSET variable to default section
  docs/configuring.md
Due: prettier

build(deps): update dependency pathspec to v1.0.4
  uv.lock
Due: editorconfig-checker, prettier

docs: move example for special `UNSET` variable to `default` section (#2476)
  docs/configuring.md
Due: prettier

fix template, and remove sem tags
  copier/_main.py
  copier/_template.py
Due: editorconfig-checker, prettier

build(deps): update dependency editorconfig-checker to v3.6.1
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency uv to v0.9.27
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency commitizen to v4.13.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

Allow for .copier-answers.yaml to be default in backwards-compatible way
  copier/_main.py
Due: editorconfig-checker, prettier

Handle yaml vs yml ordering
  copier/_main.py
  copier/_subproject.py
  copier/_template.py
  copier/_user_data.py
  tests/test_yaml_answersfile.py
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.15.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

feat: add 'copier adopt' command for adopting templates in existing projects
  copier/__init__.py
  copier/_cli.py
  copier/_main.py
  tests/test_adopt.py
Due: editorconfig-checker, prettier

feat: Support `--diff3` flag in `update` command for better integration with mergiraf
  copier/_cli.py
  copier/_main.py
  docs/updating.md
  tests/test_cli.py
  tests/test_updatediff.py
Due: editorconfig-checker, prettier

fix: remove incorrect import deprecation warnings for `types.Phase` and `types.VcsRef` enums
  copier/types.py
Due: editorconfig-checker, prettier

build(deps): update dependency mkdocstrings to v1.0.3
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency uv to v0.9.30
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency poethepoet to v0.41.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

Path conditions:
  editorconfig-checker: any file but: \.md$|\.noeof\.|\.bundle$
  prettier: any file but: (?x)(
  # Some API reference identifiers are dotted paths involving
  # internal modules prefixed with `_` which are converted by
  # Prettier to `\_`, making them invalid.
  ^docs/reference/.+\.md$|
  # Those files have wrong syntax and would fail
  ^tests/demo_invalid/copier\.yml$|
  ^tests/demo_transclude_invalid(_multi)?/demo/copier\.yml$|
  # HACK https://github.com/prettier/prettier/issues/9430
  ^tests/demo
)

  taplo: any of: \.toml$
