Repository copier-org/copier: changes, and which pre-commit hooks are due for each by the changed paths.
All: editorconfig-checker, prettier, taplo

editorconfig-checker:
  name: editorconfig-checker
  entry: editorconfig-checker
  language: system

prettier:
  name: prettier
  entry: prettier --write --list-different --ignore-unknown
  language: system

taplo:
  name: taplo
  entry: uv run taplo format
  language: system
  require_serial: true

build(deps): update dependency git to v2.55.0
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update dependency inline-snapshot to v0.35.3
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency platformdirs to v4.11.0
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update dependency uv to v0.12.1
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

build(deps): update actions/setup-python action to v7
  .github/workflows/ci.yml
Due: editorconfig-checker, prettier

build(deps): update astral-sh/setup-uv action to v9
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: editorconfig-checker, prettier

build(deps): update dependency dunamai to v1.26.2
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update dependency plumbum to v2.0.2
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update dependency pre-commit to v4.6.1
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency mkdocstrings to v1.0.6
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency mkdocs-material to v9.7.7
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

docs: convert autoref to explicit link
  docs/creating.md
Due: prettier

build(deps): update dependency types-pyyaml to v6.0.12.20260724
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency types-pygments to v2.20.0.20260728
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency commitizen to v4.17.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency mypy to v2.3.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency rumdl to v0.2.50
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency packaging to v26.3
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update dependency rumdl to v0.2.51
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

docs: add agent guidelines via `AGENTS.md` and `CLAUDE.md`
  AGENTS.md
  CLAUDE.md
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency ruff to v0.16.1
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

chore: fix Ruff linter errors
  copier/_jinja_ext.py
  copier/_main.py
  copier/_template.py
  copier/_tools.py
  copier/_user_data.py
  copier/_vcs.py
  tests/test_config.py
  tests/test_copy.py
  tests/test_interrupts.py
  tests/test_migrations.py
  tests/test_prompt.py
  tests/test_templated_prompt.py
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.16.1
  copier/__init__.py
  copier/_jinja_ext.py
  copier/_main.py
  copier/_template.py
  copier/_tools.py
  copier/_user_data.py
  copier/_vcs.py
  copier/errors.py
  pyproject.toml
  tests/test_config.py
  tests/test_copy.py
  tests/test_interrupts.py
  tests/test_migrations.py
  tests/test_output.py
  tests/test_prompt.py
  tests/test_templated_prompt.py
  uv.lock
Due: editorconfig-checker, prettier, taplo

docs: add AI policy
  AI_POLICY.md
  CONTRIBUTING.md
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

feat(update): fixed code as per the feedback
  copier/_main.py
  docs/updating.md
  tests/test_ignore.py
Due: editorconfig-checker, prettier

Path conditions:
  editorconfig-checker: any file but: \.md$|\.noeof\.|\.bundle$
  prettier: any file but: (?x)(
  # Some API reference identifiers are dotted paths involving
  # internal modules prefixed with `_` which are converted by
  # Prettier to `\_`, making them invalid.
  ^docs/reference/.+\.md$|
  # Those files have wrong syntax and would fail
  ^tests/demo_invalid/copier\.yml$|
  ^tests/demo_transclude_invalid(_multi)?/demo/copier\.yml$|
  # HACK https://github.com/prettier/prettier/issues/9430
  ^tests/demo
)

  taplo: any of: \.toml$
