Repository copier-org/copier: changes, and which pre-commit hooks are due for each by the changed paths.
All: editorconfig-checker, prettier, taplo

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: codespell
        name: codespell
        entry: uv run codespell
        language: system
        types: [text]

      - id: commitizen
        name: commitizen check
        entry: uv run cz check
        args: [--allow-abort, --commit-msg-file]
        stages: [commit-msg]
        language: system

      - id: editorconfig-checker
        name: editorconfig-checker
        entry: editorconfig-checker
        language: system
        types: [text]
        exclude: \.md$|\.noeof\.|\.bundle$

      - id: prettier
        name: prettier
        entry: prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        exclude: |
          (?x)(
            # Some API reference identifiers are dotted paths involving
            # internal modules prefixed with `_` which are converted by
            # Prettier to `\_`, making them invalid.
            ^docs/reference/.+\.md$|
            # Those files have wrong syntax and would fail
            ^tests/demo_invalid/copier\.yml$|
            ^tests/demo_transclude_invalid(_multi)?/demo/copier\.yml$|
            # HACK https://github.com/prettier/prettier/issues/9430
            ^tests/demo
          )

      - id: ruff-check
        name: ruff-check
        entry: uv run ruff check --fix
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: taplo
        name: taplo
        entry: uv run taplo format
        language: system
        types: [toml]
        require_serial: true

build(deps): update dependency devbox to v0.18.3
  .devcontainer/Dockerfile
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  devbox.json
  devtasks.py
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.16.8
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency commitizen to v4.18.1
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): lock file maintenance
  devbox.lock
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update dependency rumdl to v0.2.74
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency platformdirs to v4.11.11
  uv.lock
Due: editorconfig-checker, prettier

change ask: false to preserve previous answers
  copier/_main.py
  copier/_user_data.py
  docs/configuring.md
  tests/test_complex_questions.py
  tests/test_copy.py
  tests/test_prompt.py
Due: editorconfig-checker, prettier

build(deps): update dependency rumdl to v0.2.78
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency platformdirs to v4.12.2
  uv.lock
Due: editorconfig-checker, prettier

pr comments
  copier/_main.py
  copier/_user_data.py
  docs/configuring.md
  docs/faq.md
  tests/test_complex_questions.py
  tests/test_copy.py
  tests/test_prompt.py
Due: editorconfig-checker, prettier

minor fixes
  copier/_main.py
Due: editorconfig-checker, prettier

doc fixes
  docs/configuring.md
  docs/faq.md
Due: prettier

fix(updating): keep symlink targets when a directory containing a symlink is renamed
  copier/_main.py
  tests/test_symlinks.py
Due: editorconfig-checker, prettier

build(deps): update astral-sh/setup-uv action to v10.2.0
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: editorconfig-checker, prettier

build(deps): update dependency commitizen to v4.19.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency ruff to v0.16.9
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency devbox to v0.18.4
  .devcontainer/Dockerfile
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  devbox.json
  devtasks.py
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.16.10
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency mypy to v2.4.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency inline-snapshot to v0.36.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency commitizen to v4.19.1
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency platformdirs to v4.12.3
  uv.lock
Due: editorconfig-checker, prettier

more fixes
  copier/_main.py
  docs/faq.md
Due: editorconfig-checker, prettier

fix: don't capture mouse events in prompts
  copier/_user_data.py
  tests/test_prompt.py
Due: editorconfig-checker, prettier

feat: add support for opt-in questions via the `ask` setting (#2849)
  copier/_main.py
  copier/_user_data.py
  docs/configuring.md
  docs/faq.md
  tests/test_complex_questions.py
  tests/test_prompt.py
Due: editorconfig-checker, prettier

build(deps): update dependency markdown-exec to v1.12.4
  pyproject.toml
Due: editorconfig-checker, prettier, taplo

chore(docs): fix admonition title syntax
  docs/faq.md
Due: prettier

build(deps): update dependency commitizen to v4.19.2
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo
