Repository copier-org/copier: changes, and which pre-commit hooks are due for each by the changed paths.
All: editorconfig-checker, prettier, taplo

editorconfig-checker:
  name: editorconfig-checker
  entry: editorconfig-checker
  language: system

prettier:
  name: prettier
  entry: prettier --write --list-different --ignore-unknown
  language: system

taplo:
  name: taplo
  entry: uv run taplo format
  language: system
  require_serial: true

build(deps): update dependency nodepackages.prettier to v3.5.3
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

chore(devcontainer): create virtual env outside mounted workspace
  .devcontainer/Dockerfile
Due: editorconfig-checker, prettier

chore(renovate): don't update Prettier to v3.4.0+ (again)
  renovate.json
Due: editorconfig-checker, prettier

feat: implement dict questions
  copier/_main.py
  copier/_template.py
  copier/_tools.py
  copier/_types.py
  copier/_user_data.py
  docs/configuring.md
  pyproject.toml
  tests/test_answersfile.py
  tests/test_cli.py
  tests/test_config.py
  tests/test_interrupts.py
  tests/test_prompt.py
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency devbox to v0.15.0
  .devcontainer/Dockerfile
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  devbox.json
  devtasks.py
Due: editorconfig-checker, prettier

mention path type in documentation
  docs/configuring.md
Due: prettier

add validation tests
  tests/test_copy.py
Due: editorconfig-checker, prettier

add tab completion test (currently broken)
  tests/helpers.py
  tests/test_prompt.py
Due: editorconfig-checker, prettier

add validators to path type
  copier/_user_data.py
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.12.3
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): lock file maintenance
  uv.lock
Due: editorconfig-checker, prettier

build(deps): update dependency mypy to v1.17.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency types-pygments to v2.19.0.20250715
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency git to v2.50.0
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

style: fix linting issues
  copier/_main.py
  copier/_template.py
  copier/_tools.py
  copier/_types.py
  copier/_user_data.py
  docs/configuring.md
  tests/test_answersfile.py
  tests/test_cli.py
  tests/test_prompt.py
Due: editorconfig-checker, prettier

build(deps): update dependency ruff to v0.12.4
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

build(deps): update dependency uv to v0.7.21
  .github/workflows/ci.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
Due: editorconfig-checker, prettier

fix tab-completion test
  tests/helpers.py
  tests/test_prompt.py
Due: editorconfig-checker, prettier

Add support for prompting filesystem paths
  copier/_user_data.py
Due: editorconfig-checker, prettier

Update tests/test_prompt.py
  tests/test_prompt.py
Due: editorconfig-checker, prettier

chore: simulate test failed
  copier/_vcs.py
  tests/test_vcs.py
Due: editorconfig-checker, prettier

build(deps): update dependency mkdocstrings to v0.30.0
  pyproject.toml
  uv.lock
Due: editorconfig-checker, prettier, taplo

cannot import spawn from pexpect under windows
  tests/helpers.py
  tests/test_prompt.py
Due: editorconfig-checker, prettier

import spawn from pexpect.pty_spawn
  tests/helpers.py
  tests/test_prompt.py
Due: editorconfig-checker, prettier

Path conditions:
  editorconfig-checker: any file but: \.md$|\.noeof\.|\.bundle$
  prettier: any file but: (?x)(
  # Some API reference identifiers are dotted paths involving
  # internal modules prefixed with `_` which are converted by
  # Prettier to `\_`, making them invalid.
  ^docs/reference/.+\.md$|
  # Those files have wrong syntax and would fail
  ^tests/demo_invalid/copier\.yml$|
  ^tests/demo_transclude_invalid(_multi)?/demo/copier\.yml$|
  # HACK https://github.com/prettier/prettier/issues/9430
  ^tests/demo
)

  taplo: any of: \.toml$
